.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  padding: 0;
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
header, footer {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
header {
  text-align: center;
}
h2 {
  color: #666;
}
h1 a.title {
  color: #666;
  text-decoration: none;
}
h1 a.title:hover {
  color: #999;
}

/* Custom page footer */

footer {
  position: absolute;
  bottom: 0;
  height: 80px;
  padding: 20px 0px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
footer ul {
  padding: 0px;
  list-style-type: none;
}
.main-container {
  margin-bottom: 80px;
}
.controls-container .inspire-button-container {
  text-align: center;
  padding: 10px 0px;
}
.label-ingredient {
  display: inline-block;
  margin-right: 10px;
}
.controls-container {
  padding: 5px;
}
.recipe-result-container {
  padding: 5px;
  font-size: 19px;
}
.latest-recipe-result {
  margin-bottom: 15px;
}
.label-faded {
  background-color: #78ACD9;
}
.recipe-description {
  margin-top: 20px;
}
.bundle-toggle {
  margin-right: 10px;
}
.language-select {
  width: 160px;
}
.input-group .recipe-select .ui-select-toggle {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

/* fix for select choices positioning */

.language-select-container .ui-select-choices {
  top: auto;
  bottom: 100%;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  /* Remove the padding we set earlier */
  header, footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Extra spacing for header */
  header {
    margin: 40px 0px;
  }
}
