.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body {
  padding: 0;
}
header, footer {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
header {
  text-align: center;
}

/* Custom page footer */

footer {
  position: absolute;
  bottom: 0;
  padding: 20px 0px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
footer ul {
  padding: 0px;
  list-style-type: none;
}

.controls-container .inspire-button-container {
  text-align: center;
  padding: 10px 0px;
}
.label-ingredient_bundle {
  display: inline-block;
  margin-right: 10px;
}
.controls-container {
  padding: 5px;
}
.recipe-container {
  padding: 5px;
  font-size: 19px;
}
.recipe-description {
  margin-top: 20px;
}
.bundle-toggle {
  margin-right: 10px;
}
.language-select {
  width: 160px;
}

/* fix for select choices positioning */
.language-select-container .ui-select-choices {
  top: auto;
  bottom: 100%;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  /* Remove the padding we set earlier */
  header, footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Extra spacing for header */
  header {
    margin: 40px 0px;
  }
}
