.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  padding: 0;
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
header, footer {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
header {
  text-align: center;
}
h2, h3, h3.selected-bundles-title, h3.available-bundles-title {
  color: #666;
}
h1 a.title {
  color: #666;
  text-decoration: none;
}
h1 a.title:hover {
  color: #999;
}

/* Custom page footer */

footer {
  position: absolute;
  bottom: 0;
  height: 80px;
  padding: 20px 0;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
footer ul {
  padding: 0;
  list-style-type: none;
}
.main-container {
  margin-bottom: 100px;
  /* 80px height footer + 20px margin for spacing with create recipe button / recipe results */
}
.controls-container .inspire-button-container {
  text-align: center;
}
.label-ingredient {
  display: inline-block;
  margin-right: 10px;
}
.recipe-result-container {
  margin-top: 20px;
  font-size: 19px;
}
.latest-recipe-result {
  margin-bottom: 15px;
}
.label-faded {
  background-color: #78ACD9;
}
.recipe-description-container {
  padding: 10px;
}
.language-select {
  width: 160px;
}
.input-group .recipe-select .ui-select-toggle {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.drop-zone {
  color: #A94442;
  background-color: #F2DEDE;
  border-color: #EBCCD1;
  font-size: 32px;
  text-align: center;
  height: 80px;
  padding: 0;
}
.drop-zone .as-sortable-placeholder {
  display: none !important;
  border: 1px solid green;
}
.drop-zone .glyphicon-trash {
  line-height: 80px;
  color: #666;
}
.clear-selected-bundles-button {
  cursor: pointer;
}

/* bundle styles */

.panel-body {
  min-height: 58px;
}
.selectable-bundles-container {
  text-align: center;
  font-size: 19px;
}
.selected-bundles-empty-state .glyphicon {
  font-size: 16px;
  margin-right: 10px;
}
.available-bundles-container {
  font-size: 19px;
}
.as-sortable-item, .as-sortable-placeholder {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 10px;
  float: left;
}

/* fix for select choices positioning */

.language-select-container .ui-select-choices {
  top: auto;
  bottom: 100%;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  /* Remove the padding we set earlier */
  header, footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Extra spacing for header */
  header {
    margin: 40px 0;
  }
}
