<h3>¿Qué es esto?</h3>
<p>Musetrap es una herramienta para generar sugerencias que alimenten tu inspiración.</p>

<h3>Espera un momento. ¿Otro generador de ideas?</h3>
<p>Pues sí, más o menos. Estoy creando esto para uso propio, pero creo que tiene potencial para serle útil a otros.</p>

<h3>¿Por qué?</h3>
<p>Pues porque a veces paso más tiempo pensando en qué dibujar que el tiempo que paso dibujando y quería cambiar eso. Y porque me gusta programar y quería aprender algo nuevo (si te interesan los detalles pásate por <a href="https://github.com/excentris/musetrap">GitHub</a>).</p>

<h3>¿Cómo funciona?</h3>
<p>Básicamente Musetrap genera listas de palabras pseudo-aleatorias. Esas palabras o "ingredientes" forman "conjuntos" como <em>animales</em>, <em>colores</em>, <em>estados de ánimo</em>, etc. y se usan en "recetas".</p>
<p>Una "receta" es una serie de instrucciones que selecciona ingredientes de diferentes conjuntos siguiendo una configuración predeterminada. Por ejemplo, la receta <em>Guerrero animal</em> selecciona un ingrediente del conjunto <em>animales</em> y otro del conjunto <em>armas</em>.</p>
<p>Las combinaciones resultantes pretenden incentivar la creación de ideas simplemente pensando en ellas. Explora las palabras en sentido literal o en sentido figurado e intenta encontrar inspiración en las (en ocasiones extravagantes) combinaciones.</p>

<h3>¿Y ahora qué?</h3>
<p>Tengo muchas ideas para seguir mejorando Musetrap. Más opciones de configuración, más ingredientes, más traducciones...</p>
<p>Las sugerencias son bienvenidas. Además, Musetrap es código abierto, así que si quieres ayudar a mejorarlo pásate por <a href="https://github.com/excentris/musetrap">el repositorio en GitHub</a>.</p>

<p><em>Las musas siempre a tu lado!</em></p>
