<h3>What is this?</h3>
<p>Musetrap is a tool to provide prompts to ignite your inspiration.</p>

<h3>Wait. What? Another prompt generator?</h3>
<p>Yes. I am building this mostly for myself, but I think it has potential to become useful to other people.</p>

<h3>Who are you?</h3>
<p><a href="http://excentris.net">Eduardo Rubio</a></p>

<h3>Why?</h3>
<p>Because sometimes I find myself wasting time thinking about what to draw instead of just drawing, and wanted to something about it. And because I like to create software and wanted to learn something new (if you are interested in the details head over to <a href="https://github.com/excentris/musetrap">GitHub</a>).</p>

<h3>How does it work?</h3>
<p>At its core Musetrap simply generates a pseudo-random list of words. Those words or "ingredients" form different "bundles" like <em>animals</em>, <em>colors</em>, <em>emotions</em>, etc. and are used in "recipes".</p>
<p>A "recipe" is a routine that selects ingredients from the different bundles based on some configuration. For example, the <em>Animal warrior</em> recipe selects a random ingredient from the <em>animals</em> bundle and another one from the <em>weapons</em> bundle.</p>
<p>The resulting combinations are meant to spawn ideas just by thinking about them. Be as literal or as figurative as you want while exploring the meaning of the words and the (sometimes bizarre) combinations.</p>

<h3>And now what?</h3>
<p>Well, I've got lots of ideas to keep extending and improving Musetrap. More configuration options, more bundles, more translations...</p>
<p>Suggestions are welcome. Also, Musetrap is open source, so if you want to help improve it, head over to the <a href="https://github.com/excentris/musetrap">GitHub repository</a>.</p>

<p><em>Keep the muses by your side!</em></p>
