<div class="container">
  <div class="footer-container">
    <div class="row">
      <nav>
        <div class="container-fluid">
          <div class="btn-group" role="group">
            <ul id="navigation-menu" class="nav nav-pills">
              <li role="presentation" ng-class="{'active': '/' == location.active}">
                <a ng-href="#/" translate="nav_home"></a>
              </li>
              <li role="presentation" ng-class="{'active': '/about' == location.active}">
                <a ng-href="#/about" translate="nav_about"></a>
              </li>
              <li role="presentation" ng-class="{'active': '/feedback' == location.active}">
                <a ng-href="#/feedback" translate="nav_feedback"></a>
              </li>
            </ul>
          </div>
          <div class="language-select-container navbar-right" role="group">
            <ui-select class="language-select" ng-model="selectedLanguage" theme="bootstrap" on-select="changeLanguage($item)" skip-focusser="true">
              <ui-select-match placeholder="{{'lang_selector_placeholder' | translate}}">{{ 'button_lang_'+$select.selected | translate }}</ui-select-match>
              <ui-select-choices class="language-choices" repeat="language in availableLanguages | filter: $select.search" position="up">
                <span ng-bind-html="'button_lang_'+language | translate | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
