<div>
  <div class="controls-container" ng-controller="ConfigurationCtrl">
    <div class="row">
      <ui-select ng-model="recipe.selected" theme="bootstrap" ng-disabled="disabled" on-select="changeRecipe($item)">
        <ui-select-match allow-clear="true" placeholder="{{'recipe_selector_placeholder' | translate}}">{{$select.selected.id+'.name' | translate}}</ui-select-match>
        <ui-select-choices repeat="recipe in availableRecipes | recipeSearchFilter: $select.search">
          <div ng-bind-html="recipe.id+'.name' | translate | highlight: $select.search"></div>
          <small>
            <span translate>recipe_description_label</span>:
            <span ng-bind-html="''+recipe.id+'.description' | translate | highlight: $select.search"></span>
            </br>
            <span>recipe_ingredients_label</span>:
            <span ng-bind="recipe.ingredients.toString()"></span>
          </small>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="row" ng-show="recipe.selected">
      <div class="recipe-description">{{recipe.selected.id+'.description' | translate}}</div>
    </div>
    <hr>
    <div class="row">
      <label ng-repeat="bundleId in availableBundles" class="bundle-toggle">
        <input type="checkbox" name="selectedBundles" value="{{bundleId}}" ng-checked="selectedBundles.indexOf(bundleId) > -1" ng-click="toggleBundleSelection(bundleId)"> {{bundleId}}
      </label>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 inspire-button-container">
        <a class="btn btn-lg btn-primary" ng-href="#/" ng-click="createRecipe(selectedBundles)" ng-show="selectedBundles.length > 0">Hit me!</a>
      </div>
    </div>
  </div>
  <div class="recipe-container">
    <span ng-repeat="ingredient in ingredients" class="label label-primary label-ingredient" translate>{{ingredient}}</span>
  </div>
</div>
