<div>
  <div class="controls-container" ng-controller="ConfigurationCtrl">
    <div class="row">
      <ui-select ng-model="recipe.selected" theme="bootstrap" ng-disabled="disabled" on-select="changeRecipe($item)">
        <ui-select-match allow-clear="true" placeholder="Select a recipe...">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="recipe in availableRecipes | searchFilter: {name: $select.search, description: $select.search, ingredients: $select.search}">
          <div ng-bind-html="recipe.name | highlight: $select.search"></div>
          <small>
            Description:
            <span ng-bind-html="''+recipe.description | highlight: $select.search"></span>
            </br>
            Ingredients:
            <span ng-bind-html="''+recipe.ingredients | highlight: $select.search"></span>
          </small>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="row" ng-show="recipe.selected">
      <div class="recipe-description">{{recipe.selected.description}}</div>
    </div>
    <hr>
    <div class="row">
      <label ng-repeat="bundleId in availableBundles" class="bundle-toggle">
        <input type="checkbox" name="selectedBundles" value="{{bundleId}}" ng-checked="selectedBundles.indexOf(bundleId) > -1" ng-click="toggleBundleSelection(bundleId)"> {{bundleId}}
      </label>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 inspire-button-container">
        <a class="btn btn-lg btn-primary" ng-href="#/" ng-click="createRecipe(selectedBundles)" ng-show="selectedBundles.length > 0">Hit me!</a>
      </div>
    </div>
  </div>
  <div class="recipe-container">
    <span ng-repeat="ingredient in ingredients" class="label label-primary label-ingredient" title="{{ingredient.description}}">{{ingredient.name}}</span>
  </div>
</div>
