<div class="controls-container" ng-controller="ConfigurationCtrl">
  <div class="row">
    <div class="input-group recipe-select-tweak">
      <ui-select class="recipe-select" ng-disabled="disabled" ng-model="recipe.selected" on-select="changeSelectedRecipe($item)" theme="bootstrap" skip-focusser="true">
        <ui-select-match allow-clear="true" placeholder="{{'recipe_selector_placeholder' | translate}}">{{$select.selected.id+'.name' | translate}}</ui-select-match>
        <ui-select-choices repeat="recipe in availableRecipes | recipeSearchFilter: $select.search">
          <div ng-bind-html="recipe.id+'.name' | translate | highlight: $select.search"></div>
          <small>
            <span translate>recipe_description_label</span>:
            <span ng-bind-html="''+recipe.id+'.description' | translate | highlight: $select.search"></span>
            <br>
            <span translate>recipe_ingredient_bundles_label</span>:
            <span>{{ recipe.ingredient_bundles | translateArray }}</span>
          </small>
        </ui-select-choices>
      </ui-select>
      <span class="input-group-btn recipe-tweak">
        <button class="btn btn-default" ng-class="{'active': mode == 'tweak'}" ng-click="toggleMode()" type="button">
          <span aria-hidden="true" class="glyphicon glyphicon-cog"></span>
          {{'button_tweak' | translate }}
        </button>
      </span>
    </div>
  </div>

  <div class="row recipe-description-container">
    <div class="recipe-description text-muted" ng-show="recipe.selected">{{recipe.selected.id+'.description' | translate}}</div>
  </div>

  <div class="row home-empty-state text-muted home-empty-state-container" ng-show="mode === 'normal' && recipeResults.length === 0 && !recipe.selected">
    <span aria-hidden="true" class="glyphicon glyphicon-info-sign"></span>{{ 'empty_state.home' | translate }}
  </div>

  <div class="row bundle-selection-container" ng-show="mode === 'tweak'">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title available-bundles-title">{{ 'available_bundles_title' | translate }}</h3>
      </div>
      <div as-sortable="sortableAvailableBundles" class="panel-body available-bundles-container" ng-model="bundles.available">
        <span as-sortable-item class="label label-ingredient label-default" ng-repeat="(bundleIndex, bundleId) in bundles.available track by bundleTracking(bundleIndex, bundleId)">
          <div as-sortable-item-handle class="noselect">{{bundleId | translate}}</div>
        </span>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="btn-group pull-right clear-selected-bundles-button" ng-show="bundles.selected.length > 0" ng-click="clearSelectedBundles()" title="{{ 'clear_selected_bundles_button_title' | translate }}">
          <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
        </div>
        <h3 class="panel-title selected-bundles-title">{{ 'selected_bundles_title' | translate }}</h3>
      </div>
      <div as-sortable="sortableSelectedBundles" class="panel-body selected-bundles-container" ng-model="bundles.selected">
        <span class="selected-bundles-empty-state text-muted" ng-show="bundles.selected.length === 0 && sortableSelectedBundles.showEmptyState === true"><span aria-hidden="true" class="glyphicon glyphicon-info-sign"></span>{{ 'empty_state.selected_bundles' | translate }}</span>
        <span as-sortable-item class="label label-ingredient label-default" ng-repeat="(bundleIndex, bundleId) in bundles.selected track by bundleTracking(bundleIndex, bundleId)">
          <div as-sortable-item-handle class="noselect">{{bundleId | translate}}</div>
        </span>
      </div>
    </div>
    <div as-sortable="sortableRemoveBundles" class="well drop-zone" ng-model="bundles.removed" ng-show="sortableSelectedBundles.showDropZone">
      <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
    </div>
  </div>
  <div class="row" ng-show="recipe.selected || (bundles.selected.length > 0 && mode === 'tweak')">
    <div class="col-lg-8 col-lg-offset-2 inspire-button-container">
      <a class="btn btn-lg btn-primary" ng-click="createRecipe(bundles.selected)" ng-href="#/">{{ 'inspire_button_text' | translate }}</a>
    </div>
  </div>
</div>

<div class="row recipe-result-container" ng-show="recipeResults.length > 0">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title recipe-results-title">{{ 'recipe_results_title' | translate }}</h3>
    </div>
    <div class="panel-body">
      <div class="recipe-result" ng-class="{'latest-recipe-result': recipeResultIndex === 0}" ng-repeat="(recipeResultIndex, recipeResult) in recipeResults">
        <span class="label label-ingredient" ng-class="recipeResultIndex === 0 ? 'label-primary' : 'label-faded'" ng-repeat="ingredient in recipeResult.ingredients track by $index" translate>{{ingredient}}</span>
      </div>
    </div>
  </div>
</div>
